.exchangeRates {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 50px;
  border-radius: 10px;
  min-height: 440px;
  min-width: 445px;
  box-sizing: border-box;

  .exchangeRatesListWrapper {
    overflow-y: scroll;
    height: 265px;
    font-size: 20px;
  }

  h2 {
    margin-top: 0;
  }
}