.navigator {
  min-width: 445px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: -3px;
  box-sizing: border-box;

  a {
    margin: 0 20px;
    font-size: 24px;
    color: rgb(204, 142, 142);
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: rgb(255, 43, 41);
    }
  }
}